.pvtUi { 
    width: 100% !important; 
    border-collapse: separate !important; 
    border-spacing: 5px !important;
}

.pvtAggregator {
    display: none !important;
}

.pvtAttrDropdown {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 4px;
    margin-top: 5px;
    display: inline-block;
    width: 100%; /* Agar memenuhi lebar kotak */
}

.pvtAxisContainer, .pvtVals, .pvtRows, .pvtCols { 
    background: #f8f9fa !important; 
    border: 1px dashed #dee2e6 !important; 
    border-radius: 8px;
    padding: 10px !important;
    vertical-align: top !important;
    min-width: 150px;
}

.pvtAttr {
    background: #3b71ca !important;
    color: white !important;
    border: none !important;
    border-radius: 5px !important;
    padding: 4px 12px !important;
    margin: 3px !important;
    font-weight: 500;
    cursor: grab;
    vertical-align: middle;
}

/* Label custom hasil suntikan JS */
.pvt-custom-label {
    display: block;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-bottom: 10px !important;
    pointer-events: none;
}
.pvtRendererArea {
    padding-left: 20px !important;
    overflow-x: auto !important;
    overflow-y: hidden !important;
    min-width: 0;
}

.pvtTable { 
    width: 100%; 
    border: 1px solid #dee2e6; 
}

.pvtTable th, .pvtTable td { 
    padding: 8px !important; 
}

.plotly-graph-div {
    max-width: 100% !important;
}